<!DOCTYPE html> <!--this stuff appears on EVERY webpage-->
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
            note
            <i class="fa fa-skyatlas"></i>
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact Us", new_contact_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    <div class = "container"> <!-- generally wise to place flash messages here, in case you redirect users to different pages. i.e. when they do something on one page, you can now redirect them to any page and still display a message, not just on that page -->
      <% flash.each do |type, msg| %> <!-- searches for |type, msg| key: value pair in the flash hash. 'type' is from the contacts controller, where you defined each one (success and danger) these key value pair names are arbitrary, i could've called them 'thelma' and 'louise' as long as i remained consistent. Also, 'X.each do Y |x|' applies Y to each member |x| of the list X. 'flash' is just a list of functions YOU'VE MADE (in this case, in the contact_controller) -->
        <%= content_tag :div, msg, class: "alert alert-#{type}" %> <!-- rails way of creating a div. injecting a string injects the text to display (here, the variable 'msg' -->
      <% end %>
    </div>
    
    <%= yield %>

    
  </body>
</html>
